---
import Layout from '../layouts/page.astro';
import Img404 from '../images/404.avif';
---

<Layout>
    <div class="not-found">
        <h1>Page not found (404)</h1>
        <img src={Img404} alt="an empty plate with a frowny face drawn on it" />
        <p></p>Sorry, we couldn't find the page you were looking for.
    </div>
    <p><a href="/">&larr; back home</a></p>
</Layout>

<style>
    .not-found {
        margin: 0 auto;
        max-width: 500px;
        text-align: center;
    }

    .not-found h1 {
        font-size: 2rem;
    }

    .not-found img {
        display: block;
        margin: 1rem 0 0;
        width: 100%;
    }
</style>
